:root {
  --clr-1: #f25c00;
  --clr-2: #ec4559;
  --clr-3: #bf4686;
  --clr-4: #41537f;
  --clr-5: #2f4858;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: basic-sans, sans-serif;
  font-weight: 300;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--clr-1)), to(var(--clr-2)));
  background-image: linear-gradient(var(--clr-1), var(--clr-2));
  min-height: 100vh;
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
}

.white-bg {
  background-image: none;
  background-color: white;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

.n-bar {
  --n-text: black;
  --n-text-inverse: var(--accent);
  --n-background: transparent;
  position: fixed;
  width: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  padding-top: 10px;
  font-size: 20px;
  background-color: var(--n-background);
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.n-bar a {
  color: var(--n-text);
  margin: 0px 30px;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  /*transition: .5s;*/
}

.n-bar a:hover {
  color: var(--n-text-inverse);
  border-bottom: 2px solid var(--n-text-inverse);
  -webkit-transition: .2s;
  transition: .2s;
}

.nav-filled {
  --n-text: white;
  --n-background: var(--clr-5);
  -webkit-box-shadow: 0 0 2px 5px rgba(136, 135, 135, 0.274), 0 0 2px 2px rgba(136, 135, 135, 0.685);
          box-shadow: 0 0 2px 5px rgba(136, 135, 135, 0.274), 0 0 2px 2px rgba(136, 135, 135, 0.685);
}

.intro {
  font-size: 4rem;
  display: -ms-grid;
  display: grid;
  grid: "hello hello" 70vh "my-name-is troy" 200vh/max-content 1fr;
  margin-bottom: 70vh;
  grid-gap: 15px;
}

.intro-1 {
  grid-area: hello;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
  margin-bottom: 1.5em;
}

.intro-2 {
  grid-area: my-name-is;
  font-weight: 900;
  font-style: italic;
  position: -webkit-sticky;
  position: sticky;
  top: 3.5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.intro-3 {
  grid-area: troy;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-weight: 900;
  font-style: italic;
}

.bio {
  text-align: center;
  margin-bottom: 60vh;
}

.projects {
  display: -ms-grid;
  display: grid;
  grid: "text thumbnails" 1fr/1fr 1fr;
  grid-gap: 1em;
  margin: 20px auto 500px auto;
  width: 80%;
}

#project-1,
#project-2,
#project-3,
#project-4,
#project-5,
#project-6,
#project-7,
#project-8 {
  padding: 20px;
  position: relative;
}

#project-1::before,
#project-2::before,
#project-3::before,
#project-4::before,
#project-5::before,
#project-6::before,
#project-7::before,
#project-8::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 4;
  opacity: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#project-1:hover::before,
#project-2:hover::before,
#project-3:hover::before,
#project-4:hover::before,
#project-5:hover::before,
#project-6:hover::before,
#project-7:hover::before,
#project-8:hover::before {
  opacity: 1;
}

#project-1::after,
#project-2::after,
#project-3::after,
#project-4::after,
#project-5::after,
#project-6::after,
#project-7::after,
#project-8::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: -5vh;
  right: 40vw;
  width: 45vw;
  height: 40vh;
  background-color: white;
  z-index: 2;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  background-size: 100% 100%;
}

#project-1:hover::after,
#project-2:hover::after,
#project-3:hover::after,
#project-4:hover::after,
#project-5:hover::after,
#project-6:hover::after,
#project-7:hover::after,
#project-8:hover::after {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  opacity: 1;
}

#project-1::after {
  background-image: url(../styles/images/pw.PNG);
  background-size: 100% 100%;
}

#project-2::after {
  background-image: url(../styles/images/projects/cal.jpg);
}

#project-3::after {
  background-image: url(../styles/images/projects/mms.PNG);
}

#project-4::after {
  background-image: url(../styles/images/projects/quiz.PNG);
}

#project-5::after {
  background-image: url(../styles/images/projects/wyw.PNG);
}

#project-6::after {
  background-image: url(../styles/images/projects/e-a_demo.gif);
}

.caption {
  position: -webkit-sticky;
  position: sticky;
  top: 20vh;
  grid-area: text;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.thumbnails {
  grid-area: thumbnails;
  margin-top: 60vh;
  background: var(--clr-5);
  padding: 0.3em;
  position: relative;
}

.thumbnails::after {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--clr-5)), to(transparent));
  background: linear-gradient(var(--clr-5) calc(100% - 3em), transparent);
  top: 2.5em;
  left: 0;
  right: 0;
  height: 95%;
  z-index: 2;
}

.thumbnails__begin {
  text-align: center;
  grid-area: thumbnails;
  color: white;
  z-index: 50;
}

.thumbnails__end {
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
  bottom: 200px;
  color: white;
  font-weight: 900;
  margin-top: 6em;
}

.project__thumbnail {
  position: relative;
  z-index: 3;
}

.languages {
  display: -ms-grid;
  display: grid;
  grid: "transition" 50vh "committed" 100vh "learned" 150vh;
  grid-gap: 1rem;
  margin-top: 10em;
  padding-top: 10em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(white));
  background-image: linear-gradient(transparent, white);
}

.languages p {
  text-align: center;
  font-size: 2rem;
}

.committed {
  grid-area: committed;
  position: -webkit-sticky;
  position: sticky;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  top: 2em;
  margin-bottom: 2em;
}

.learned {
  grid-area: learned;
  position: -webkit-sticky;
  position: sticky;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  top: 4em;
}

.icon-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 1em;
  width: 100%;
  background-color: white;
}

.icon-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1em;
  border-radius: 15px;
  background-color: rgba(0, 0, 255, 0.5);
  -webkit-box-shadow: inset 0 0 2px 5px rgba(255, 255, 255, 0.2), inset 0 0 10px 10px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 2px 5px rgba(255, 255, 255, 0.2), inset 0 0 10px 10px rgba(255, 255, 255, 0.5);
}

.icon-card img {
  width: 10vw;
}

.icon-container::after {
  content: '';
  position: absolute;
  top: 30vh;
  left: 0;
  width: 100%;
  height: 500%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(blue));
  background-image: linear-gradient(white, blue);
}

footer {
  margin-bottom: 900px;
}
/*# sourceMappingURL=style.css.map */